nav {
    background: #494E61;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
}

.user {
    display: grid;
    grid-template-areas: "user img"
                         "logout img";
}

.user span {
    grid-area: user;
    align-self: end;
    justify-self: end;
    color: #99A0BB;
}

.user a {
    grid-area: logout;
    align-self: start;
    justify-self: end;
    color: #EE9D9D;
}

.user img {
    grid-area: img;
    margin: 1em;
    border-radius: 5px;
    max-width: 50px;
}

.kweeni header {
    background: #FFEEF0;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    padding: 2em 0;
}

.kweeni header h1 {
    color: #F95B33;
    margin: 0;
    text-align: center;
    align-self: center;
}

.kweeni header input {
    width: 40em;
    padding: 1em;
    border: 3px solid #EFADB4;
}

.kweeni header button {
    width: 15em;
    justify-self: center;
    background: #3B1CFF;
    color: white;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}