header
    h1 "Wat is Express.js en waarvoor dient het?"
    .grid-wrapper
        .container
            .user
                span 12 minuten geleden gevraagd door
                a Anneke Kodeur
                img.user-avatar(src="images/user8.png")
            aside#like
                .wrapper
                    .likes
                        div
                           img(src="images/icon-cool.svg" alt="Icon cool")
                           span x20
                        
                        a Like deze vraag
                    .likers
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")
                        img(src="images/user8.png")